@model ElementsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Elements";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-6">
        <h1>Types</h1>
        <ul>
            @foreach (var element in Model.Elements)
            {
                <li>@element.Type</li>
            }
        </ul>

        <div class="card-columns">
            @foreach (var element in Model.Elements)
            {
                <div class="card">
                    <div class="card-header">
                        <h3>@element.Name</h3>
                    </div>
                    <div class="card-body">
                        <h4>@element.Price</h4>
                        <h4>@element.Description</h4>
                    </div>
                    <div class="card-footer">
                        <span><strong>Category</strong> @element.Type</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-md-6">
        @{await Html.RenderPartialAsync("_AddElement", new ElementViewModel()); }
    </div>
</div>

@Html.ActionLink("Invalid action to trigger error page", "UnKnownAction", "Elements", new { }, new { @class = "nav-link text-dark" })
