@page
@model TopRatedModel
@{
    ViewData["Title"] = "Top Rated";
}

<h1>Top Rated Islands</h1>

<form action="" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="fas fa-search">
                        Search
                    </i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <td><strong>Name</strong></td>
        <td><strong>ClimateType</strong></td>
        <td><strong>Rating</strong></td>
        <td><strong>Id</strong></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var island in Model.Islands)
    {
        <tr>
            <td>@island.Name</td>
            <td>@island.ClimateType</td>
            <td>@island.Rating</td>
            <td>@island.Id</td>
            <td>
                <a asp-page="./Detail"
                   asp-route-islandId="@island.Id"
                   class="btn btn-info">
                    Detail
                </a>
            </td>
            <td>
                <a asp-page="./Edit"
                   asp-route-islandId="@island.Id"
                   class="btn btn-warning">
                    Edit
                </a>
            </td>
            <td>
                <a asp-page="./Delete"
                   asp-route-islandId="@island.Id"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary">Add new</a>


@section footer {
    | @Model.Message
}



